.my-container {
  display: flex;;
  width: 100%;
  justify-content:center;
}
.contact-form {
  display: flex;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
}
.contact-form-input:hover {
  border: none;
}
.contact-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#dark #contactFormContainer {
  background-color: rgb(226, 226, 226);
  color: #020113;
}

#contactFormContainer input, #contactFormContainer textarea {
  border: none;
  border-bottom: 1px solid #45454580;
  min-width: 300px;
  outline: none !important;
  min-height: 40px;
  opacity: 0.8;
  padding: 5px;
  font-weight: 400;
  font-size: 18px !important;
}

label {
  text-align: left;
  opacity: 0.8;
}
.form-submit-button {
  border: none;
  opacity: 0.8;
  min-height:50px;
}
