.my-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contact-form {
  display: flex;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
}

.contact-form-input {
  display: flex;
  flex-direction: column;
}

#dark #contactForm {
  background-color: #181532;
  color: whitesmoke;
}
#contactForm {
  background-color: white;
  padding: 24px;
  border-radius: 5px;
}

#contactForm input,
#contactForm textarea {
  border: none;
  border-radius: 5px;
  border: 1px solid #7b7b7b80;
  outline: none !important;
  background-color: white !important;
  padding: 5px;
  font-weight: 400;
  font-size: 1.3rem !important;
  margin-bottom: 15px;
}

label {
  text-align: left;
  opacity: 0.8;
}
