@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.profile-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/black-bg1.jpg');
}

.profile-header{
    font-family: 'Righteous', cursive;
}

.profile-picture {
    width: calc(50px + 33vw);
    height: 365px;
    border-radius: 50%;
    background-size: 140%;
    box-shadow: 0 6px 0 0 #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/abass-profile.jpg');
}

.profile-socieal-links a{
    padding: 8px;
    font-size: 25px;
}
.profile-separator {
    height: 30px;
}