
.skill-card-text {
  margin-bottom: 10px;
  border-bottom: 1px solid #00000040;
}

.skill-card-desk {
  font-size: 14px;
  padding: 8px;
}

.rotate-chevron {
  transform: rotate(180deg);
  transition: .5s;
}

.toggle-it {
  display: none;
}

.showit {
  display: block;
}

.skill-card-title-focus:hover {
  background-color: #00000015;
}

.progress {
  height: 24px !important;
  font-size: 17px !important;
}

.progress .french {
  width: 75%;
}

.progress .haussa {
  width: 45%;
}

.progress .english {
  width: 35%;
}