@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.skill-progress-title {
    font-family: 'Righteous', cursive;
}
.skill-card-bg {
    background: #050f12;
}

.skill-card-text {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: black;
}