.skill-card-desk {
  font-size: 14px;
  padding: 8px;
  transition: 0.5s;
}

.rotate-chevron {
  transform: rotate(180deg);
  transition: 0.5s;
}
.rotate-icon {
  transition: 0.5s;
}

#dark .borderBottom {
  border-bottom: 3.5px solid #020113 !important;
}
#light .borderBottom {
  border-bottom: 3.5px solid #ececec !important;
}

.toggle-it {
  display: none;
}

.showit {
  display: block;
}

.skill-card-title-focus:hover {
  background-color: green;
}
.skill-card-title-focus:hover p,
.skill-card-title-focus:hover i {
  color: white;
}

.progress {
  height: 24px !important;
  font-size: 17px !important;
}

.progress .french {
  width: 75%;
}

.progress .haussa {
  width: 35%;
}

.progress .english {
  width: 30%;
}
