.rotate {
  transform: rotate(-90deg);
  transition: .5s;
}
.chevron {
  transition: .5s;
}
.showbtn {
  z-index: 10;
  position: relative;
}
.mystory {
  transition: .5s;
}

.image-bg {
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #fff;
}

.hide {
  display: none;
}