.rotate-chevron {
  transform: rotate(180deg);
  transition: .5s;
}

.showbtn {
  z-index: 10;
  position: relative;
}

.image-bg {
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
