@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* This will work on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00835a #ffffff;
}

/* Targets on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #00835a;
  border-radius: 20px;
}

/*::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}*/

  .a-link {
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .a-link:after {
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(7, 163, 7);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  
  .a-link:hover:after { transform: scaleX(1); }
  
  .sidebar-link-anime {
  display: block;
    text-decoration: none;
  }
  
  .sidebar-link-anime:after {
  display:flex;
    content: '';
    border-bottom: solid 3px rgb(7, 163, 7);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  
  .sidebar-link-anime:hover:after { transform: scaleX(1); }
  

.xpt {
  padding-top: 130px;
}
.xpb {
  padding-top: 130px;
}
.xpt-100 {
  padding-top: 100px;
}
.xpt-xl {
  padding-top: 110px;
}
.xpt-90 {
  padding-top: 90px;
}
.xpt-80 {
  padding-top: 80px;
}
.xpt-60 {
  padding-top: 60px;
}
.xpt-20 {
  padding-top: 20px;
}

.box-shadow {
  box-shadow: 0 0 9px #00000025;
}

html {
  scroll-behavior: smooth !important;
}

.divide-bottom {
  border-bottom: 1px solid #00000030;
}
