.ui-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.ui-input:hover {
  border: 1px solid  rgb(4, 82, 161) !important;
}
  .ui-input {
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
  }