.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .mb-4 {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4a5568; /* Equivalent to Tailwind's text-gray-700 */
}

.contact-form input,
.contact-form textarea {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
}


.contact-form .text-green-500 {
  color: #10b981; /* Equivalent to Tailwind's text-green-500 */
  margin-top: 1rem;
}

.contact-form .text-red-500 {
  color: #ef4444; /* Equivalent to Tailwind's text-red-500 */
  margin-top: 1rem;
}
