.home-container {
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-image: url('../../assets/images/bg.png');
}