.copyright {
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 0;
  font-size: 14px;
  font-family: Monospace;
}

#light footer {
  background: #111023 !important;
  color: black !important;
}
