.copyright {
    color: #fff;
    text-align: center;
    background: #000405;
    padding-top: 4rem;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: Monospace;
}