@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

.profile-header,
.md-title,
.large-title {
  font-family: 'Ubuntu', Sans-Serif;
}
.ff-ubuntu {
  font-family: 'Ubuntu', Sans-Serif;
}

.home-container {
  background-color: '#F3F3F3' !;
}
.after-title {
  width: 30vw;
  height: 5px;
  margin: 15px 0;
  background: #00000015;
}

.showcookie {
  position: fixed;
  max-width: 355px;
  margin: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  padding: 7px;
}
