@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
.profile-header, .md-title, .large-title{
    font-family: 'Ubuntu', Sans-Serif;
}
/*.home-container {
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/bg.png');
}*/
.after-title {
  width: 36vw;
  height: 1px;
  background: red;
}
.showcookie {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  padding: 7px;
}