.home-container {
  background-color: '#F3F3F3' !;
}

.showcookie {
  position: fixed;
  max-width: 355px;
  margin: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  padding: 7px;
}
