
.profile-picture {
    width: calc(40px + 30vw);
    height: 330px;
    border-radius: 50%;
    background-size: 100%;
    box-shadow: 0 9px 10px 0 #00ccff33;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/abass-profile.jpg');
}

.profile-socieal-links a{
    padding: 7px;
    font-size: 20px;
}
.profile-separator {
    height: 30px;
}
.nav-link {
    font-weight: bold;
}