// Override default variables before the import
$primary: #9ceafd;
$body-bg: #000f12;

.active, a:hover{
    color: $primary !important;
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';