// Override default variables before the import
$primary: #0dcaf0;
$body-bg: #0005;

.active {
    color: $primary !important;
}
a:hover {
    color: $primary !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';