@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&display=swap");

.primary-font{
  font-family: "Edu NSW ACT Foundation", cursive;;
} 
html {
  scroll-behavior: smooth !important;
}
a {
  text-decoration: none !important;
}
.profile-title {
    animation: profile-title-anim  1s;
}

.primary-text {
  color: rgb(4,82,161);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 700px;
  text-align: center;
  height: 700px;
}

#main div:first-child {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

#main div:last-child {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.slide-in {
  transform: translateY(0) !important;
  transform: scale(1) !important;
  opacity: 1.0 !important;
  transition:1.5s;
}

.single-slide-in {
  transform: translate(0) scale(1) !important;
  opacity: 1.0 !important;
  transition: opacity .7s ease-in-out, transform .7s ease-in-out !important;
}
.slide-first {
  opacity: 0;
  transform: scale(0.5) translate(0, 70px);
}
.slide-second {
  opacity: 0;
  transform: scale(0.9) translate(-70px, 0);
}
.zoom-in {
  opacity: 0;
  transform: scale(0.8);
}

.lets-chat-anime {
  animation: contact-title-anim 1s infinite;
}

.lds-ripple div {
  position: absolute;
  border: 8px solid #9ceafd;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes profile-title-anim {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contact-title-anim {
  0% {
    transform: translate(0, 0);
    opacity: 1;
    color: rgb(4,82,161);
  }
  25% {
    transform: translate(-5px, 5px);
    opacity: 0.5;
  }
  50% {
    transform: translate(0, 0);
    opacity: 0.5;
  }
  75% {
    transform: translate(5px, 5px);
    opacity: 0.7;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes lds-ripple {
  0% {
    top: 72px;
    left: 72px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}