@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

/* This will work on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00835a #ffffff;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #00835a;
  border-radius: 20px;
}

.profile-header,
.md-title,
.large-title {
  font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ff-ubuntu {
  font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.after-title {
  width: 30vw;
  height: 5px;
  margin: 10px 0;
}
#light .after-title {
  background: #18153250;
}
#dark .after-title {
  background: #ffffff50;
}

.dark {
  background: #020113 !important;
}

.light {
  background: #fff !important;
}

#dark {
  background: #020113 !important;
  color: #ffffff;
}

#dark .card {
  background: #181532 !important;
  color: #ffffff !important;
}

#dark #myStory,
#dark #about,
#dark #latestPosts {
  background: #181532 !important;
  color: #ffffff !important;
}

#light {
  background: #1c1c1c05 !important;
  color: black;
}

#light .card {
  background: white !important;
  color: black;
}

#light #myStory,
#light #about,
#light #latestPosts {
  background: white !important;
  color: black;
}

.primary-font {
  font-family: 'Edu NSW ACT Foundation', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
}

.profile-title {
  animation: profile-title-anim 1s;
}

.primary-text {
  color: rgb(4, 82, 161);
}

.nav-bar-opacity {
  opacity: 0.99;
}

.lds-ripple {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 95vh;
}

.slide-in {
  transform: translateY(0) !important;
  transform: scale(1) !important;
  opacity: 1 !important;
  transition: 1.5s;
}

.single-slide-in {
  transform: translate(0) scale(1) !important;
  opacity: 1 !important;
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out !important;
}

.anim-title {
  opacity: 0;
  transform: translate(0, 70px);
}

.slide-first {
  opacity: 0;
  transform: scale(0.5) translate(0, 70px);
}

.slide-second {
  opacity: 0;
  transform: scale(0.9) translate(-70px, 0);
}

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
}

.lets-chat-anime {
  animation: contact-title-anim 1.5s infinite;
}

.lds-ripple div {
  position: absolute;
  border: 8px solid #9ceafd;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes profile-title-anim {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contact-title-anim {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  25% {
    transform: translate(-3px, 3px);
    opacity: 0.5;
  }

  50% {
    transform: translate(0, 0);
    opacity: 0.5;
  }

  75% {
    transform: translate(3px, 3px);
    opacity: 0.7;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes lds-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 144px;
    height: 144px;
    opacity: 0;
  }
}
